* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 60px;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
}

/* Logo */
.nav-logo {
    display: flex;
    gap: 8px;
}

.nav-logo img {
    width: 139px;
    height: 60px;
}

/* Center Menu */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 32px;
    position: absolute;
    left: 50%;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #2e7d32;
}

/* Button */
.nav-btn .btn {
    background: #2e7d32;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.nav-btn .btn:hover {
    background: #256628;
}